*{
   margin: 0;
   padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x:hidden;

}
#main{
    width: 100%;
    height: 100%;
    /* background-color:#f8f8f8; */
    position: relative;
    padding-top: 0.001px;
}
#nav{
    width: 100%;
    height: 11vh;
    /* background-color: red; */
   margin-top:30px;
   border: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#nav h2{
    font-size: 1.5vw;
    font-weight: 450;
    height: 100%;
    width: 23%;
    text-transform: capitalize;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}
#nav h1{
       color: #28020d;
    /* text-decoration: underline; */
    font-family:fantasy;
    font-size: 3.2vw;
    font-weight: 100;
    height: 100%;
    width: 14%;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#nav h3{
     display: none;
}
#nav h1::after{
    content: '©';
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 3.8vh;
    position: absolute;
    top: 25%;
    right: 2%;
}
#nav h1::before{
    content: 'model managment';
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
    position: absolute;
    bottom:10%;
    right: 10%;
    letter-spacing: 0.1vh;
    color: #28020d;
}
#nav h2:nth-last-child(1){
    font-size: 3vh;
     font-weight: 900;
     width: 10%;
}
#center{
    width: 92%;
    height: 74%;
    padding: 4vw;
    /* background-color: aquamarine; */
    position: relative;
     border-bottom: 1.5px solid #000;
}
#content{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    position: relative;
}
#content video{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:0 43%;
    border-radius: 10px;
    image-rendering: auto;
}
#overlay{
    padding: 5vw;
    width: 89%;
    height: 38%;
    /* background-color: blue; */
    position: absolute;
    bottom: 0;
    color: #fff;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1vw;
}
#over1 h1{
    font-family: fantasy;
    font-size: 4.6vw;
    font-weight: 300;
}
#over1 h2{
   /* background-color: #f8f8f8; */
   font-size: 1.2vw;
   padding: 2vw 2.3vw;
   border-radius: 50%;
   border: 1.5px solid #fff;
   border-bottom: 3.5px solid #fff;
}
#over2{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
}
#over2 h4{
    margin-top: 2vw ;
    font-size: 1.5vw;
}
#over2 i{
     margin-top: 2vw ;
    font-size: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap ;
    /* overflow-x: auto; */
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 120%;
    /* background-color: blue; */
    padding-top: 0.7vw;
    display: inline-block;
    animation-name:anime ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll::-webkit-scrollbar{
    display: none;
}
#scroll img{
    /* display: none; */
    height: 83%;
    border-radius: 50%;
    width: 14.9%;
    object-fit: cover;
    margin: 1vw;
  
}
@keyframes anime{
  from{
  transform: translatex(0);
  }
  to{
    transform: translatex(-100%);
  }
}
#alphabets{
    margin-top: 1vw;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.3vw;
    /* background-color: rgb(0, 255, 195); */
     border-top: 1.7px solid #000;
     border-bottom: 1.7px solid #000;
}
#alphabets h5{
    font-size: 2.5vw;
    font-weight: 100;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 0.3vw;
    margin-right: 0 2vw 0 2vw;
    font-family: fantasy;
}
#alphabets h6{
    font-size: 1.2vw;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.3vw;
    padding: 0.4vw 0.5vw;
    border-radius: 50%;
    border: 1.5px solid #00000010;
    transition: all ease 0.2s;
}
#alphabets h6:hover{
      border: 1.5px solid #000;
}
#page2{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    justify-content: space-around;
}
#page2-part1{
    margin-left: 3vh;
   height: 100%;
   width: 50%;
   /* background-color: rebeccapurple; */
   background-size: cover;
   background-position: 0 40%;
}
#page2-part1 img{
    padding-top: 3vh;
    object-fit: cover;
    object-position: 0 30%;
    height: 90%;
    width: 100%;
}
#page2-part1 h1{
    font-family: fantasy;
    font-size: 5vh;
    font-weight: 500;
    letter-spacing: 0.3vh;
    text-transform: uppercase;
}
#page2-part2{
   height: 80%;
   width: 40%;
   /* background-color: rebeccapurple; */
   padding: 4vw;
}
#page2-part2 img{
    object-fit: cover;
    object-position: 0 20%;
    height: 75%;
    width: 100%;
}
#textbox{
    margin-top: 1vw;
    /* background-color: aqua; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
#textbox h3{
     color: rgb(30, 1, 1);
    font-size: 2vw;
    font-weight: 600;
    line-height: 2.2vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#textbox h5{
    font-size: 1.2vw;
    font-weight: 400;
}
#page3{
    width: 100%;
    height: 90%;
    /* background-color: coral; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 4.5vh;
}
#page3left{
    height: 100%;
    width: 45%;
    /* background-color: darkgoldenrod; */
}
#page3right{
      height: 100%;
    width: 45%;
    /* background-color: darkgoldenrod; */
}
#page3right img{
    width: 100%;
    height: 98%;
    object-fit: cover;
    border-radius: 6vh;
}
#page3left img{
    margin-top: 9vw;
    margin-left: 10vw;
    width: 45%;
    height: 45%;
    object-fit: cover;
    /* position: absolute; */

}
#textleft{
    /* background-color: rgb(222, 179, 179); */
    width:70%;
    height: 20%;
    border-bottom: 1px solid rgb(3, 61, 63);
}
#textleft h4{
     border-top: 1px solid rgb(3, 61, 63);
    font-size: 3vh;
    font-weight: 450;
    color: rgb(3, 61, 63);
    line-height: 1.2;
    margin-top: 18%;
    padding: 2vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#page4{
    width: 100%;
    height: 90%;
    /* background-color: rgb(118, 184, 11); */
    padding: 0.1px;
}
#photo{
    width: 90%;
    height: 80%;
    margin-top:8vh;
    /* background-color: black; */
    margin-left:5%;
}
#photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 47%;
}
#page5{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}
#update{
    text-decoration: underline;
    height: 25%;
    color: #28020d;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    font-size: 5vh;
    font-weight: 100;
    letter-spacing: 1vh; 
}
#box{
    /* background-color: red; */
    width: 90%;
    margin-left: 5%;
    transition: all ease 0.2s;
}
.elem{
    width: 100%;
    height: 15vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: relative;
   
}
.elem img{
    width: 15vh;
    height: 13vh;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    left: 15%;
    opacity: 0.1;
    transition: all ease 0.5s;
}
.elem:hover img{
      opacity: 1;
      left :30%;
}
#three{
    /* background-color: blanchedalmond; */
    position: absolute;
    left:15%;
    transition:all ease 0.5s;
}
#three:hover{
    font-size:large;
}
.elem h4{
    font-size: 1.8vw;
    font-weight: 400;
    width: 6%;
    text-transform: uppercase;
}
#box :hover{
    background-color: #e0dfdf;
}
.elem .elempart2{
    width: 45%;
}
.elempart2 h1{
    font-size: 3vw;
}
.elempart2 h5{
    font-size: 1vw;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}
#page6{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
#first{
    width: 48%;
    height: 90%;
    /* background-color: aquamarine; */
}
#first img{
    margin: 2vh;
    width: 95%;
    height: 95%;
    object-fit: cover;
}
#second{
    width: 48%;
    height: 90%;
    /* background-color: #f0f0f0; */
}
#textdiv{
 /* background-color: cadetblue; */
 width: 100%;
 height: 45%;
}
#textdiv h1{
    margin-left: 3vh;
  font-family: fantasy;
  letter-spacing: 0.5vh;
  font-size: 7vh;
  font-weight: 400;
  text-transform: uppercase;
}
#textdiv h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3vh;
    font-size: 3vh;
    font-weight: 100;
    line-height: 1.3;
}
#textdiv h5{
    padding: 3vh;
    text-align:left;
    font-size: 2vh;
    font-weight: 500;
}
#bottom{
    width: 100%;
    height: 55%;
    /* background-color: #28020d; */
    display: flex;
    justify-content: space-evenly;
}
#div1{
    width: 45%;
    height: 100%;
    /* background-color: darkturquoise; */
}
#div2{
    width: 45%;
    height: 100%;
    /* background-color: #ff5a5a; */
}
#div1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#div2 img{
     width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:0 100%;
}
#page7{
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    padding: 0.01px;
}
#page7div{
    width: 90%;
    height: 80%;
    /* background-color: #1b5447; */
    margin: 5%;
    margin-top: 6%;
}
#page7 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:0 30% ;
  border-radius: 5vh;
  border-bottom: 6px solid #292929;
}
#page8{
width: 100%;
height: 100%;
/* background-color: fuchsia; */
display: flex;
align-items: center;
justify-content: center;
justify-content: space-evenly;
}
#leftside{
    width: 40%;
    height: 90%;
    /* background-color: lawngreen; */
}
#leftside img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 30%;
}
#rightside{
    width: 45%;
    height: 90%;
    /* background-color: #ffcb5a; */
}
#upper{
    margin-left: 5%;
    width: 90%;
    height: 70%;
    /* background-color: #ff0f0f; */
}
#upper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 40%;
}
#lower{
    width: 100%;
    height:30%;
    /* background-color: rgb(191, 175, 175); */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  
}
#lower h2{
    margin: 3vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
}
#lower h4{
    font-size: 2vh;
    margin: 3vh;
   margin-left:3vh;
   padding-top: 3vh;
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
#marque{
    margin-top:5% ;
    margin-bottom: 3%;
    width: 100%;
    /* height: 15vh; */
    /* background-color: red; */
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y:hidden;
    border-top: 2px solid  #000;
    border-bottom: 2px solid #000;
}
#marque h1{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size:10vh;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    color:transparent;
    -webkit-text-stroke: 2px #000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 7s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(calc(-100% - 20px));
    }
}
#footer{
    width: 100%;
    height: 100%;
    /* background-color: rgb(100, 128, 128); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.001px;
}
 #blog{
    width: 20%;
    height: 90%;
    /* background-color: salmon; */
    margin-top: 8vh;
    position: relative;
 }
 #blog h1{
    font-size: 10vh;
    font-family: fantasy;
    font-weight: 400;
     margin: 5vh;
 }
 #jack{
    width: 40%;
    height: 90%;
    /* background-color: darkmagenta; */
       margin-top: 8vh;
 }
  #jack h2{
    margin:5vh;
    font-size: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    line-height: 1.3;
    text-align: center;
    border-left :2px solid #28020d;
 }
 #jack img{
    width: 90%;
    height: 65%;
    object-fit: cover;
    object-position:top;
    margin: 5%;
 }
 #london{
    width: 40%;
    height: 90%;
    /* background-color: lawngreen; */
       margin-top: 8vh;
 }
  #london img{
    width: 90%;
    height: 65%;
    object-fit: cover;
    margin: 5%;
    object-position: 0 40%;
}
 #london h2{
    margin:5vh;
    font-size: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 200;
    line-height: 1.3;
    text-align: center;
    border-left :2px solid #28020d;
   
 }
#blog h1::before{
    content: 'Fashion model';
    font-size: 2vh;
    position: absolute;
    top:15.5vh;
    left:15vh;
    font-weight: 500;
    letter-spacing: 1.5;
}
 #page9{
    width: 100%;
    height: 100%;
    /* background-color: #2b00ff; */
    margin-top: 10vh;
 }
 #page9top{
    /* background-color: #beb0b0; */
    width: 100%;
    height: 40%;
 }
 #head{
    /* background-color: aquamarine; */
    width: 100%;
    height: 25%;
 }
 #foot h4{
    font-size: 2vh;
    font-weight: 440;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top:8vh;
 }
 #head h1{
    text-align: center;
    font-family: fantasy;
    text-transform: capitalize;
    font-size:8vh;
    font-weight: 400;
    border-bottom: 1px solid #28020d;
     border-top: 1px solid #28020d;
 }
 #page9img{
    width: 90%;
    height: 60%;
    margin-left: 5%;
    /* background-color: rgb(255, 0, 221); */
 }
 #page9img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 30%;
 }
 #last{
    width: 100%;
    height: 50%;
    /* background-color: darkorange; */
    margin-top:20vh;
    display: flex;
    border-top: 2px solid #28020d;
     border-bottom: 2px solid #28020d;
 }
 #lastone{
    width: 60%;
    height: 100%;
    /* background-color: rgb(6, 255, 1); */
    /* border-right: 2px solid #28020d; */
    display: flex;
    justify-content: space-between;
 }
#lastone h1{
    width: 40%;
    height: 30%;
    margin-left: 5vh;
    font-size: 8vh;
    font-family: fantasy;
    font-weight: 500;
    margin-top: 8vh;
    letter-spacing: 1;
    position: relative;
}
#lastone h1::before{
    content: 'Model Managment';
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 2vh;
    position: absolute;
    bottom:25%;
    right: 20%;
    letter-spacing: 0.1vh;
    color: #28020d;
}
#lastone h1::after{
    content: '©';
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 4vh;
    position: absolute;
    top: 10%;
    right: 16%;
}
#lastone h4{
    padding-top:10vh;
    /* background-color: aqua; */
     font-size: 3vh;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1;
    width: 25%;
    margin-left: 10vh;
    border-right: 2px solid #28020d;
}
 #lasttwo{
    width: 40%;
    height: 100%;
    background-color: deepskyblue;
 }
#agency{
    height: 25%;
    width: 100%;
  padding-top: 10vh;
    border-bottom: 2px solid #28020d;
}
#agency h2{
    font-size: 3vh;  
    text-align: center; 
}
#lasttwo i{
    margin-left:2.5vh;
    font-size: 3.1vh;
}
#lasttwo h4{
    font-size: 2.5vh;
    font-weight: 400;
    margin-left:3vh;
}
 #whitelast{
    width: 100%;
    height: 20%;
 }